<h1>Sign up</h1>
<p>
  After signing up you will be able to 
  <% if @game.nil? %>
    start creating your own elimination circle games.<br />
    Already a member? <%= link_to 'Sign in', signin_path %> instead.
  <% else %>
    join <%= @game.user.full_name %>'s game.<br />
    Already a member? <%= link_to 'Sign in', signin_path(:game => @game.permalink) %> instead.
  <% end %>
</p>
<%= render 'form' %>
