<h1>Sign up</h1>
<p>
  After signing up you will be able to 
  <!-- if this an independent sign up -->
  start creating your own elimination circle games.
  <!-- else (this is a clicked signup link) -->
  <!-- join <player name>'s game and start creating your own games. -->
  <!-- end -->
</p>
<%= render 'form' %>
