<p id="notice"><%= notice %></p>

<p>
  Welcome, <%= @user.name %>.<br />
  <% if @user.games.where(:is_alive => true).any? %>
  Here is a list of your current games:
  <% else %>
  You have no games currently in progress.
  <% end %>
</p>
