<h1>What is an Elimination Circle?</h1>
<p>
  An elimination circle is a setup used in a variety of games in which each
  player has a target and is someone else's target.  The goal is to avoid being
  eliminated by your hunter while taking out as many targets as you can (each
  time you successfully eliminate your target you acquire his or her target).
</p>
<p>
  Creating these games for a large group can be daunting, because if
  a single mistake is made in setting up the circle then you may end up with
  multiple small circles instead of one (if you've ever made such a mistake,
  you have no doubt suffered the wrath of the hunters when they discover they
  must share the glories of victory).  The process of double and triple
  checking that the circle works correctly can make an otherwise simple setup
  take many hours more.
</p>
<p>
  Enter this website.  All you have to do is enter a list of names, and we
  handle the entire setup process.  Additionally, we provide a scoreboard that
  is automatically updated when you enter a kill, listing which players are
  still alive and how many kills each player has earned.
  <% unless signed_in? %>
    <%= link_to 'Sign up here', signup_path %> to get started!
  <% end %>
</p>