<h1>Game Ideas</h1>
<p>
  Below is a list of several games that use elimination circles.  Some of them
  are more action-packed while others are more slow paced.  All of them require
  deceit and cunning.
</p>


<h3>Killer</h3>
<p>
  The goal of this game is to get your target to say a taboo word.  You are
  given the word when you are given your target.  Your target does not know
  what word he or she is forbidden to say (but can try to figure it out).  A
  variant rule is that when trying to coax a target into saying the taboo word,
  you are also forbidden from using that word (or else the kill doesn't count).
</p>

<h3>Assassins</h3>
<p>
  Assassins is perhaps the most classic elimination circle game.  Players try
  to eliminate their targets from the game using mock weapons until there is
  only one player remaining.  The more specific rules (e.g. safe zones and what
  constitutes a kill) are decided by the game's organizer.  Often a given
  ruleset will incorporate a clause about the presence of witnesses at the time
  of the assassination - in some variants this will validate the kill and in
  others this will render it void (a public assassination is a failed attempt).
</p>

<h3>Blammo</h3>
<p>
  In Blammo every player is given a plastic spoon that serves as both a weapon
  and a shield.  To be protected, you must be holding your spoon visibly in an
  active muscle (e.g. not behind your ear).  If you are not holding your spoon
  visibly in an active muscle, your hunter can run up to you and tap their
  spoon to you and shout "Blammo!" and you lose.  The more precise rules of the
  game, e.g. rules about how much of the spoon must be visible, whether new
  spoons can be awarded, and safe zones, are determined by the game's
  organizer, aka the Blammo God.
</p>