<h1>New game</h1>

<p>
  Enter the name of your game and then list all of the players participating.
  If your game requires additional details to be listed by each player (e.g.
  Killer requires each player to have a taboo word), enter the title for this
  details field and then enter the details for each player alongside his or her
  name.  If you do not require additional details, leave the details title box
  empty.
</p>

<%= render 'form' %>
