/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
    background: #f3f3f3;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', Helvetica, Arial;
}

#page-content {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 21px;
    background: #ececec;
    min-height: 100%;
	height: auto !important;
	height: 100%;
}

#full-content {
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background: #ececec;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
    line-height: 30px;
}

#header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 50px;
    padding-left: 50px;
    
    background: #848484; /* Old browsers */
    background: -moz-linear-gradient(top,  #848484 0%, #424242 72%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848484), color-stop(72%,#424242), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #848484 0%,#424242 72%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #848484 0%,#424242 72%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #848484 0%,#424242 72%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #848484 0%,#424242 72%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#header ul {
    display: inline;
    float: right;
    margin-right: 70px;
}

#header ul li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#logo {
    font-family: Cursive, 'Gill Sans', Helvetica, Arial;
    font-size: 30px;
    margin-left: 50px;
}

#logo a {
    color: #f3f3f3;
    text-decoration: none;
}

/**
 *  Button styling code adapted from Dmitry Fadeyev
 *  http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
 */
a.button, input[type="submit"],
a.jconfirm_success, a.jconfirm_fail {
    font-size: 16px;
    text-decoration: none;
    padding: 7px 10px;
    background: #aaa;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}

a.button:hover, input[type="submit"]:hover,
a.jconfirm_success:hover, a.jconfirm_fail:hover {
    background: #ccc;
    border: solid 1px #000;
}
a.button:active, input[type="submit"]:active,
a.jconfirm_success:active, a.jconfirm_fail:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #ccc;
    border: solid 1px #000;
}

.jconfirm_inner {
    height: 120px;
    margin-top: -60px;
}

h4.jconfirm_title {
    margin-top: 15px;
}

a.large-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.red-button {
    background: #851010;
    color: #fff;
}

a.red-button:hover {
    background: #a20f0f;
}

a.red-button:active {
    background: #a20f0f;
}

a.green-button {
    background: #2B7514;
    color: #fff;
}

a.green-button:hover {
    background: #3C9420;
}

a.green-butotn:active {
    background: #3C9420;
}

div.field {
    margin-bottom: 15px;
    line-height: 30px;
}

input[type="password"],
input[type="text"] {
    height: 20px;
    width: 200px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', Helvetica, Arial;
    font-size: 20px;
}

textarea {
    color: #777;
    font-family: 'Gill Sans', Helvetica, Arial;
    font-size: 20px;
}

#error_explanation ul {
    margin-top: 10px;
}

.time {
    font-family: Helvetica, Arial;
}

div.slidedown-box {
    display: none;
}