div.jconfirm_inner {
    background: #ececec;
    padding: 20px;
    border: 2px solid #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

h4.jconfirm_title {
    font-weight: normal;
    font-size: 21px;
    font-family: 'Gill Sans', Helvetica, Arial;
    text-align: center;
    margin-top: 15px;
}

a.jconfirm_close {
    display: none;
}

div.jconfirm_buttons {
    text-align: center;
}

a.jconfirm_success {
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

a.jconfirm_fail {
    padding-left: 20px;
    padding-right: 20px;
}