<div id="header">
  <span id="logo"><%= link_to 'Elimination Circle', root_path %></span>
  <ul>
    <li><%= link_to 'Game ideas', ideas_path %></li>
    <li><%= link_to 'New game','#' %></li>
    <li><%= link_to 'Sign in','#' %></li>
  </ul>
</div>